.primary-0 { color: #009999 }		/* Основной Цвет */
.primary-1 { color: #1d7373 }
.primary-2 { color: #006363 }
.primary-3 { color: #33cccc }
.primary-4 { color: #5ccccc }

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

header {
    margin: 0;
    flex: 0 0 auto;
}

#content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
}